@import "~bootstrap/scss/bootstrap.scss";

body{
    background-color: #717c7c;
}
td{
    border-right: 2px solid white;
    cursor: pointer;
}

tr{
    height: 150px;
    width: 150px;
}


table{
    background-color: black;
}

td > img{
    width: 200px;
    border: 1px solid black;
}

table{
    border: solid 1px black;
}

#halloween {
    padding-left: 40px;
}